.todo{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
}
.todo-box{
    padding: 20px;
}
.todo-box h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.todo-box input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
}
.todo-box ul{
    list-style-type: none;
    padding: 0;
}
.todo-box ul li{
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}